<div class = 'footer'>
          <hr>
          <center>
          <h6> By Geoffrey Woods, Jose Caudillo, and Elijah Hallera CST336 Spring 2020</h6>
          <nav align='center'>
            <ul>
                <li> <a href = "/aboutus" style="color:white"> About Us</a> </li>
            </ul>
          </nav>
          </center>
      </div>
      </body>
</html>
