<%- include ('partials/header'); -%>

<div>
    <div class="header">
        <h1 style='font-size: 60px'>Login</h1>
    </div>
    <div class="topnav">
      <a href = "/" id = "currentPage">Home</a>
      <a href = "/account_new">Create Account</a>
      <a href = "/login">Login</a>
      <a href = "/searchGames">Search Games</a>
      <a href = "/searchdevelopers">Search Game Developers</a>
    </div>   
</div>

<div class='container'>
    <div class='jumbotron'>
        <%if(typeof error != 'undefined' && error){%>
            <h6 style='color: red;'> Incorrect login credentials! </h6>
	    <%}%>
	    
        <form action='/login' method='POST'>
            <div class='form-group row'>
                <label for='username' class='col-sm-4 col-form-label'>Username</label>
                <div class='col-sm-4'>
                    <input type='text' class='form-control' id='username' name='username' required>
                </div>
            </div>
            <div class='form-group row'>
                <label for='password' class='col-sm-4 col-form-label'>Password</label>
                <div class='col-sm-4'>
                    <input type='text' class='form-control' id='password' name='password' required>
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-4'></div>
                <div class='col-sm-4'>
                    <button class='btn btn-primary btn-block'> Login </button>
                </div>
                <div class='col-sm-4'></div>
            </div>
        </form>
    </div>
</div>

<%- include ('partials/footer'); -%>