<%- include ('partials/header'); -%>

<div>
    <div class="header">
        <h1 style='font-size: 60px'>Video Game Database Search</h1>
    </div>
    <div class="topnav">
      <a href = "/welcome" id = "currentPage">Home</a>
      <a href='/logout'>Logout</a>
      <a href='/account'>Account</a>
      <a href = "/searchGames">Search Games</a>
      <a href = "/searchdevelopers">Search Game Developers</a>
      <a href = "/gamepicker">Game Picker</a>
    </div>   
</div>

<div class='container'>
    <div class='jumbotron'>
        <div align='center'>
            <strong>
                <p>Welcome to our Video Game Website!</p>
                <p>Our website allows you to search for video games as well as game developers.</p>
                <p>Having a tough time deciding on a game? Use our RNG page!</p>
                <p>What are you waiting for go and try it out!</p>      
            </strong>
        </div>
        </br>
        <div align = 'center'>
            <a href = "/searchGames"><img src='website background.jpg' width='500px' height ='300px' /></a>
        </div>
    </div>
</div>

<%- include ('partials/footer'); -%>
